extends layout

block content
  h1= title
  p Rows #{query.rows} Columns #{query.cols}
  - let rows = Number(query.rows)
  - let cols = Number(query.cols)
  if((!Number.isInteger(rows)) || (!Number.isInteger(cols))) 
    p One or both values are not integers.
  else if(rows > 10 || rows < 1)
    p Row is out of range.
  else if(cols > 10 || cols < 1)
    p Columns is out of range.
  else
    table#outer
      - for(let i = 0; i < rows; i++) {
        tr#middle
        - var sum = 2
        - for(let j = 0; j < cols; j++) {
          if (i == j)
            td=1
          else if(i > j)
            td=0
          else if(i < j)
            td=sum
            - sum = sum + 1
        - }
      - }